---
---

@import "minima";

// Edit the h4 to be bigger than default.
h4 {
    font-size: 15px;
    font-weight: bold;
    color: #383838;
}

.software-list {
    display: grid;
    grid-column-gap: .1em;
    list-style-type: none;
    padding: 0 1em;
    grid-template-columns: repeat(4, 1fr);
}

.skill-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: .1em;
    list-style-type: none;
    padding: 0 1em;
}

@media screen and (max-width: 600px) {
    .software-list {
        grid-template-columns: repeat(2, 1fr);
    }
    .skill-list {
        display: inline;
    }
        
  }
